<h2>About</h2>

<p>A simulation of the great game of baseball.</p>

<blockquote>
<p>Few persons appreciate the steadiness and courage required, when all around is in flight and confusion, for a force to advance steadily to the post of danger in front and meet the exulting enemy. Such men are heroes, and far more worthy of honor than those who fight in the full blaze of successful warfare.</p>
<footer>Abner Doubleday</footer>
</blockquote>