<h2>Genesis</h2>

<form method="post" action="/genesis">
<nav>
<ul>
<li><input type="submit" name="op" value="cancel"></li>
<li><input type="submit" name="op" value="create"></li>
</ul>
</nav>
</form>