<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Mudville Might</title>
<link rel="stylesheet" href="style/taxy.css?v=0.01">
</head>
<body>
<header>
<h1>Mudville Might</h1>
</header>
<%= yield %>
</body>
</html>