<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Mudville Might</title>
<link rel="stylesheet" href="style/main.css?v=0.01">
</head>
<body>
<header>
<h1><a name="top">Mudville Might</top></h1>
<%= erb :nav %>
</header>
<%= yield %>
</body>
</html>